{% extends 'template.twig' %}

{% block content %}

  <div class="container-fluid content-wrapper">
    <div class="container main-content mb-4">

      <div class="row">
        <div class="col-12 col-lg-6 mb-4 mb-sm-0 mb-lg-0 pr-lg-0">
          <div class="bg-white">
            {% if page.contentTitle != '' %}
              <h1>{{ page.contentTitle }}</h1>
            {% endif %}
            {{ page.content|raw }}
            <span class="button mt-1">{{ page.buttonText }}
            </span>
          </div>
        </div>
        <div class="col-12 col-lg-6 d-lg-flex align-items-lg-end text-center">
          {% if page.auxImage.getFullLink() != null %}
            <div class=""><img src='{{ page.auxImage.getFullLink()|raw }}' alt="{{ constant('SITE_FROM_NAME') }} {{ page.title }}" class="aux-img"></div>
          {% endif %}
        </div>
      </div>

    </div>
  </div>

  <div class="container-fluid projects px-0 d-lg-flex">

    <div class="inner">
      <h2>{{ page.second_section_title }}</h2>
      <p>{{ page.second_section_text|raw }}</p>
      <a href="{{ page.second_section_button_link }}" class="button light mt-1">{{ page.second_section_button }}</a>

    </div>

      <img src="/theme/images/home-projects.jpg" alt="{{ constant('SITE_FROM_NAME') }} - Projects" class="d-lg-none">

    <div class="projects-img d-none d-lg-flex">
    </div>
  </div>

  <div class="container d-custom-none p-4 text-center">
  {{ homeGallery.galleryItems[0].thumbnail.tag()|raw }}
  </div>

  <div class="container-fluid px-0 d-none d-custom-block bg-white">
    <div class="row p-2 p-xl-4">
      {% for item in homeGallery.galleryItems|active %}
        <div class="col-custom-6 col-sm-4 col-lg-2 px-0 p-2 p-xl-0">
          <a href="/Projects/" class="project-img-container d-flex">
            {{ item.thumbnail.tag()|raw }}
          </a>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="container-fluid services px-0 d-lg-flex">
    <div class="inner">
      <h2>{{ page.third_section_title }}</h2>
      <p>{{ page.third_section_text|raw }}</p>
      <a href="{{ page.third_section_button_link }}" class="button light mt-1">{{ page.third_section_button }}</a>

    </div>

    <img src="/theme/images/home-services.jpg" alt="{{ constant('SITE_FROM_NAME') }} - Services" class="d-lg-none">

  <div class="services-img d-none d-lg-flex">
  </div>
  </div>

{% endblock %}
